<nav>
    <% if (typeof(user) !== 'undefined') { %>
        <form action="/logout?_method=DELETE" method="POST">
            <h1 id="username">Welcome, <%= user.name %></h1>
            <button type="submit" id="logoutBTN">Logout</button>
        </form>
    <% } %>
    <div id="nav-menu">
        <ul class="bar nav">
            <li class="bar nav">
                <a href="/" >Home</a>
                <ul class="menu nav">
                    <li class="menu nav"><a href="/game">Game</a></li>
                    <li class="menu nav"><a href="/about">About</a></li>
                </ul>
            </li>
        </ul>
    </div>    
</nav>