<nav>
    <div id="nav-menu">
        <ul class="bar nav">
            <li class="bar nav">
                <a href="/" >Home</a>
                <ul class="menu nav">
                    <li class="menu nav"><a href="/game">Game</a></li>
                    <li class="menu nav"><a href="/about">About</a></li>
                </ul>
            </li>
        </ul>
    </div>
    
</nav>