<%- include('partials/default_heading.ejs') %>
<%- include('partials/default_nav.ejs') %>
<main>

<h1>
<pre id="banner">
#######    #     #####  #    # 
     #    # #   #     # #   #  
    #    #   #  #       #  #   
   #    #     # #       ###    
  #     ####### #       #  #   
 #      #     # #     # #   #  
####### #     #  #####  #    # 

</pre> 
</h1>       
<hr />
<h2>ALSO KNOWN AS</h2>
<hr />
<h1>
<pre id="banner">
<!-- 
#       ### #     #    #     #####  
#        #  ##   ##   # #   #     # 
#        #  # # # #  #   #        # 
#        #  #  #  # #     #  #####  
#        #  #     # #######       # 
#        #  #     # #     # #     # 
####### ### #     # #     #  #####   
-->
_      ___  __  __     _     _____ 
| |    |_ _||  \/  |   / \   |___ / 
| |     | | | |\/| |  / _ \    |_ \ 
| |___  | | | |  | | / ___ \  ___) |
|_____||___||_|  |_|/_/   \_\|____/ 
</pre>
</h1>



</main>
<%- include('partials/default_footing.ejs') %>