<%- include('partials/default_heading.ejs') %>
<%- include('partials/default_nav.ejs') %>
<main>

<h1>
<pre id="banner">
####### ###  #####        #######    #     #####        ####### ####### ####### 
   #     #  #     #          #      # #   #     #          #    #     # #       
   #     #  #                #     #   #  #                #    #     # #       
   #     #  #       #####    #    #     # #       #####    #    #     # #####   
   #     #  #                #    ####### #                #    #     # #       
   #     #  #     #          #    #     # #     #          #    #     # #       
   #    ###  #####           #    #     #  #####           #    ####### ####### 
                                                                                 
</pre>
</h1>
<script src="js/game.js" ></script>
<div id="gameboard">
<table id="game">
   <tr class="top">
      <td class="gameBtn" id="left"><button class="square">-</button></td>
      <td class="gameBtn" id="middle"><button class="square">-</button></td>
      <td class="gameBtn" id="right"><button class="square">-</button></td>
   </tr>
   <tr class="middle">
      <td class="gameBtn" id="left"><button class="square">-</button></td>
      <td class="gameBtn" id="middle"><button class="square">-</button></td>
      <td class="gameBtn" id="right"><button class="square">-</button></td>
   </tr>
   <tr class="bottom">
      <td class="gameBtn" id="left"><button class="square">-</button></td>
      <td class="gameBtn" id="middle"><button class="square">-</button></td>
      <td class="gameBtn" id="right"><button class="square">-</button></td>
   </tr>
</table>

</div>


</main>
<%- include('partials/default_footing.ejs') %>