<%- include('partials/default_heading.ejs') %>
<%- include('partials/default_nav.ejs') %>
<!-- <link href="css/project.css" rel="stylesheet"> -->
<main>

<h1>
<pre id="banner">
####### ###  #####        #######    #     #####        ####### ####### ####### 
   #     #  #     #          #      # #   #     #          #    #     # #       
   #     #  #                #     #   #  #                #    #     # #       
   #     #  #       #####    #    #     # #       #####    #    #     # #####   
   #     #  #                #    ####### #                #    #     # #       
   #     #  #     #          #    #     # #     #          #    #     # #       
   #    ###  #####           #    #     #  #####           #    ####### ####### 
                                                                                 
</pre>
</h1>

<div id="gameboard">
<table id="game">
   <tr class="top">
      <td class="left"><button class="square">-</button></td>
      <td class="middle"><button class="square">-</button></td>
      <td class="right"><button class="square">-</button></td>
   </tr>
   <tr class="middle">
      <td class="left"><button class="square">-</button></td>
      <td class="middle"><button class="square">-</button></td>
      <td class="right"><button class="square">-</button></td>
   </tr>
   <tr class="bottom">
      <td class="left"><button class="square">-</button></td>
      <td class="middle"><button class="square">-</button></td>
      <td class="right"><button class="square">-</button></td>
   </tr>
</table>

</div>
<% if (user) {
       console.log("User: " + user)
   }
   else {
       console.log("No")
   }
%>


</main>
<%- include('partials/default_footing.ejs') %>