div#gameboard {
    /* width: 100%; */
    display: block;
    margin: auto;
}

div#gameboard > table {
    border-collapse: collapse;
}

table#game {
    margin: auto;
}

button.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vw;
    width: 8vw; 
    margin: auto;
    text-align: center;
    line-height: 1em;
}

button#reset {
    height: 10vh;
    width: 20vw; 
    /* float: right;
    position:relative;
    top: 10px;
    right: 10px; */
}

#statusBox {
    margin: auto;
    text-align: center;
    display: inline-block;
}

#resetButtonBox {
    display: block;
    margin: auto;
}

#statusBox > h2 {
    font-size: 2em;
}

#statusBox > h1 {
    font-size: 4em;
}

.rightBorder, .bottomBorder{
    border-collapse: separate;
    border-style: solid;
    border-color: purple;
    border-width: 0px;
}

.rightBorder {
    border-right-width: 10px;
}

.bottomBorder {
    border-bottom-width: 10px;
    
}

.column {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.columnParent {
    display: flex;
    clear: both;
}