div#gameboard {
    width: 100%;
    display: block;
    margin: auto;
}
div#gameboard > table {
    border-collapse: collapse;
}

table#game {
    margin: auto;
}

button.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vw;
    width: 10vw; 
    margin: auto;
    text-align: center;
    line-height: 1em;
}

button#reset {
    /* display: flex; */
    height: 10vh;
    width: 20vw; 
    /* margin: auto; */
    float: right;
    position:absolute;
    top: 10px;
    right: 10px;
}

#statusBox {
    margin: auto;
    text-align: center;
}

#statusBox > h2 {
    font-size: 2em;
}

#statusBox > h1 {
    font-size: 4em;
}

.rightBorder, .bottomBorder{
    border-collapse: separate;
    border-style: solid;
    border-color: purple;
    border-width: 0px;
}

.rightBorder {
    border-right-width: 10px;
}

.bottomBorder {
    border-bottom-width: 10px;
    
}