div#gameboard {
    display: block;
    margin: auto;
}

div#gameboard > table {
    border-collapse: collapse;
}

table#game {
    margin: auto;
}

button.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vw;
    width: 8vw; 
    margin: auto;
    text-align: center;
    line-height: 1em;
}

button#reset {
    height: 10vh;
    width: 20vw; 
    border-radius: 12px;
    background-color: #00F400; /* Green */
    border: none;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    font-size: 48px;
    cursor: pointer;
}

#statusBox {
    margin: auto;
    text-align: center;
    display: inline-block;
}

#resetButtonBox {
    display: block;
    margin: auto;
}

#statusBox > h2 {
    font-size: 2em;
}

#statusBox > h1 {
    font-size: 4em;
}

.rightBorder, .bottomBorder{
    border-collapse: separate;
    border-style: solid;
    border-color: purple;
    border-width: 0px;
}

.rightBorder {
    border-right-width: 10px;
}

.bottomBorder {
    border-bottom-width: 10px;
    
}

.column {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.columnParent {
    display: flex;
    clear: both;
}

#banner {
    font-size: 30%;
}

div#overlay {
    padding: 0px;
    width: 84%;
    height: 70vh;
    position: fixed;
    background-color: black;
    color: #00F400;
    text-align: center;
}

#overlay > pre {
    position: relative;
    top: 100px;
    letter-spacing: 2px;
    animation: spaceout 6s infinite
}

#overlay > h1 {
    position: relative;
    top: 300px;
}

@keyframes spaceout {
    50% {letter-spacing: 6px;}
}

main > span {
    padding: 5px;
}